ul{
  width: 100%;
  list-style: none;
  margin-top: 2.5rem;

  height: 320px;  
  overflow-y: auto;


  & li{
    display: flex;
    justify-content: space-between;
    background-color: var(--background-secondary);
    width: 100%;
    padding: .875rem;
    border-radius: .875rem;

    margin-bottom: .875rem;

    & div {
      display: inherit;
      align-items: center;
      gap: 0.875rem;
    }
  }
}